Source: invertika
Section: games
Priority: extra
Maintainer: Jonathan Raphael Joachim Kolberg <bulldog98@freenet.de>
Build-Depends: debhelper (>= 7), cmake, libcurl4-openssl-dev, libguichan-dev, libphysfs-dev, libpng12-dev, libpthread-stubs0-dev, libsdl-image1.2-dev, libsdl-mixer1.2-dev, libsdl-net1.2-dev, libsdl-ttf2.0-dev, libsdl-gfx1.2-dev, libxml2-dev, zlib1g-dev, libtool, libenet-dev,
Standards-Version: 3.9.1
Homepage: http://invertika.org

Package: invertika
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, invertika-data (= ${source:Version})
Description: invertika is an German 2D MMPORG client

Package: invertika-data
Architecture: all
Recommends: invertika
Description: invertika is an German 2D MMORPG client
 .
  This package contains the data files.
  
