Source: invertika
Section: games
Priority: optional
Maintainer: Jonathan Raphael Joachim Kolberg <bulldog98@freenet.de>
Build-Depends:  cvs-buildpackage, cmake, build-essential, libpthread-stubs0-dev, libsdl-ttf2.0-dev, libtool, libenet-dev, debhelper (>= 7), libcurl4-gnutls-dev, libgl1-mesa-dev, libguichan-dev (>= 0.8.1), libsdl1.2-dev, libsdl-image1.2-dev, libsdl-net1.2-dev, libsdl-mixer1.2-dev, libphysfs-dev, libpng12-dev, libxml2-dev, zlib1g-dev, libsdl-ttf2.0-dev, quilt, gettext, gettext-base , libsdl-gfx1.2-dev
Standards-Version: 3.8.3
Homepage: http://invertika.org

Package: invertika
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, invertika-data (= ${source:Version})
Description: Invertika is a 2D multi-platform MMORPG based on the Manasource Framework. The game language is german.

Package: invertika-dbg
Architecture: any
Priority: extra
Depends: invertika (= ${binary:Version})
Description: Invertika is a 2D multi-platform MMORPG based on the Manasource Framework. The game language is german. (debugging symbols)
 .
  This package provides debugging symbols for the invertika-client package.

Package: invertika-data
Architecture: all
Recommends: invertika
Description: Invertika is a 2D multi-platform MMORPG based on the Manasource Framework. The game language is german. (data files)
 .
  This package contains the data files.
  
